KERNEL!="sd[a-z][1-4]", GOTO="my_media_automount_end"
ACTION=="add", PROGRAM!="/sbin/blkid %N", GOTO="my_media_automount_end"

IMPORT{program}="/sbin/blkid -o udev -p %N"

ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"

ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", RUN+="/bin/mkdir -p /media/USBDRIVES/%k"
ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", RUN+="/bin/mkdir -p /media/USBDRIVES/CSSTORAGE"

ACTION=="add", ENV{mount_options}="relatime,async"

ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs|exfat", ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=000"
ACTION=="add", ENV{ID_FS_TYPE}=="ext*", ENV{mount_options}="$env{mount_options},user"

ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", RUN+="/bin/chmod 777 /media/USBDRIVES/%k"
ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", ENV{ID_FS_TYPE}=="ntfs", RUN+="/bin/mount -o ro,%E{mount_options} /dev/%k /media/USBDRIVES/%k"
ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", ENV{ID_FS_TYPE}=="vfat", RUN+="/bin/mount -o ro,%E{mount_options} /dev/%k /media/USBDRIVES/%k"
ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", ENV{ID_FS_TYPE}=="exfat", RUN+="/bin/mount -o ro,%E{mount_options} /dev/%k /media/USBDRIVES/%k"
ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", ENV{ID_FS_TYPE}=="ext*", RUN+="/bin/mount -o ro,%E{mount_options} /dev/%k /media/USBDRIVES/%k"
ACTION=="add", ENV{ID_FS_LABEL}!="CSSTORAGE", RUN+="/bin/touch /tmp/updatinglinks", RUN+="/usr/local/bin/autoapp_helper addsymlinks %k &"

ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", RUN+="/bin/chmod 777 /media/USBDRIVES/CSSTORAGE"
ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", ENV{ID_FS_TYPE}=="ntfs", RUN+="/bin/mount -o rw,%E{mount_options} /dev/%k /media/USBDRIVES/CSSTORAGE"
ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", ENV{ID_FS_TYPE}=="vfat", RUN+="/bin/mount -o rw,%E{mount_options} /dev/%k /media/USBDRIVES/CSSTORAGE"
ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", ENV{ID_FS_TYPE}=="exfat", RUN+="/bin/mount -o rw,%E{mount_options} /dev/%k /media/USBDRIVES/CSSTORAGE"
ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", ENV{ID_FS_TYPE}=="ext*", RUN+="/bin/mount -o rw,%E{mount_options} /dev/%k /media/USBDRIVES/CSSTORAGE"
ACTION=="add", ENV{ID_FS_LABEL}=="CSSTORAGE", RUN+="/bin/touch /tmp/updatinglinks", RUN+="/usr/local/bin/autoapp_helper addsymlinks CSSTORAGE &"

ACTION=="remove", ENV{ID_FS_LABEL}!="CSSTORAGE", ENV{dir_name}!="", RUN+="/bin/umount -fl /media/USBDRIVES/%k", RUN+="/bin/rmdir /media/USBDRIVES/%k"
ACTION=="remove", ENV{ID_FS_LABEL}=="CSSTORAGE", ENV{dir_name}!="", RUN+="/bin/umount -fl /media/USBDRIVES/CSSTORAGE", RUN+="/bin/rmdir /media/USBDRIVES/CSSTORAGE"

ACTION=="remove", RUN+="/bin/touch /tmp/cleaninglinks" RUN+="/usr/local/bin/autoapp_helper cleansymlinks"

LABEL="my_media_automount_end"
