
# Skip storage devices
KERNEL=="sd*", GOTO="SKIP_DEVICE"
KERNEL=="sg*", GOTO="SKIP_DEVICE"
SUBSYSTEM!="usb", GOTO="SKIP_DEVICE"
#Acer
SUBSYSTEM=="usb", ATTR{idVendor}=="0502", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#ASUS
SUBSYSTEM=="usb", ATTR{idVendor}=="0b05", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Dell
SUBSYSTEM=="usb", ATTR{idVendor}=="413c", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Foxconn
SUBSYSTEM=="usb", ATTR{idVendor}=="0489", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Fujitsu
SUBSYSTEM=="usb", ATTR{idVendor}=="04c5", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Fujitsu Toshiba
SUBSYSTEM=="usb", ATTR{idVendor}=="04c5", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Garmin-Asus
SUBSYSTEM=="usb", ATTR{idVendor}=="091e", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Google
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Haier
SUBSYSTEM=="usb", ATTR{idVendor}=="201E", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Hisense
SUBSYSTEM=="usb", ATTR{idVendor}=="109b", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#HTC
SUBSYSTEM=="usb", ATTR{idVendor}=="0bb4", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Huawei
SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#K-Touch
SUBSYSTEM=="usb", ATTR{idVendor}=="24e3", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#KT Tech
SUBSYSTEM=="usb", ATTR{idVendor}=="2116", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Kyocera
SUBSYSTEM=="usb", ATTR{idVendor}=="0482", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Lenovo
SUBSYSTEM=="usb", ATTR{idVendor}=="17ef", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#LG
SUBSYSTEM=="usb", ATTR{idVendor}=="1004", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Motorola
SUBSYSTEM=="usb", ATTR{idVendor}=="22b8", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#MTK
SUBSYSTEM=="usb", ATTR{idVendor}=="0e8d", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#NEC
SUBSYSTEM=="usb", ATTR{idVendor}=="0409", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Nook
SUBSYSTEM=="usb", ATTR{idVendor}=="2080", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Nvidia
SUBSYSTEM=="usb", ATTR{idVendor}=="0955", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#OTGV
SUBSYSTEM=="usb", ATTR{idVendor}=="2257", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Pantech
SUBSYSTEM=="usb", ATTR{idVendor}=="10a9", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Pegatron
SUBSYSTEM=="usb", ATTR{idVendor}=="1d4d", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Philips
SUBSYSTEM=="usb", ATTR{idVendor}=="0471", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#PMC-Sierra
SUBSYSTEM=="usb", ATTR{idVendor}=="04da", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Qualcomm
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#SK Telesys
SUBSYSTEM=="usb", ATTR{idVendor}=="1f53", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Samsung
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Sharp
SUBSYSTEM=="usb", ATTR{idVendor}=="04dd", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Sony
SUBSYSTEM=="usb", ATTR{idVendor}=="054c", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Sony Ericsson
SUBSYSTEM=="usb", ATTR{idVendor}=="0fce", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Teleepoch
SUBSYSTEM=="usb", ATTR{idVendor}=="2340", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#Toshiba
SUBSYSTEM=="usb", ATTR{idVendor}=="0930", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"
#ZTE
SUBSYSTEM=="usb", ATTR{idVendor}=="19d2", MODE="0666", GROUP="plugdev", RUN+="/opt/crankshaft/usb_action.sh add '$env{ID_MODEL}' '%E{DEVNAME}'"

# Disconnect action
SUBSYSTEM=="usb", ACTION=="remove", RUN+="/opt/crankshaft/usb_action.sh remove '$env{ID_MODEL}' '%E{DEVNAME}'"

# Skip action
LABEL="SKIP_DEVICE"

