[Unit]
 Description=Crankshaft GPIO to keyboard mapper
 ConditionPathExists=/opt/crankshaft/gpio2kbd

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/gpio2kbd /boot/crankshaft/gpio2kbd.cfg

[Install]
 WantedBy=multi-user.target
