[Unit]
Description=User startup script
After=crankshaft_startup.service

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi
ExecStart=/opt/crankshaft/user_startup.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

