[Unit]
 Description=Crankshaft Android Auto Bluetooth Service
 After=bluetooth.service openauto.service

[Service]
 Type=simple
 WorkingDirectory=/home/pi
 ExecStart=/usr/local/bin/btservice
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=2
 StartLimitBurst=3

[Install]
 WantedBy=multi-user.target
