[Unit]
 Description=Crankshaft Dev Mode Service
 ConditionPathExists=/opt/crankshaft/service_devmode.sh
 After=debugmode.service
 Before=crankshaft.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_devmode.sh
 ExecStartPost=/usr/local/bin/crankshaft cover extract &
 StandardInput=tty
 StandardOutput=tty
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
