[Unit]
 Description=Crankshaft PulseAudio check
 PartOf=pulseaudio.service
 After=pulseaudio.service

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/service_pacheck.sh
 ExecStartPost=/usr/local/bin/crankshaft audio volume restore

[Install]
 WantedBy=pulseaudio.service
