[Unit]
 Description=Crankshaft Regenerate SSH host keys Service
 Before=ssh.service dhcpcd.service gpio2kbd.service
 After=usbdetect.service

[Service]
 Type=oneshot
 ExecStartPre=-/usr/local/bin/crankshaft filesystem system unlock
 ExecStartPre=-/bin/dd if=/dev/hwrng of=/dev/urandom count=1 bs=4096
 ExecStartPre=-/bin/sh -c "/bin/rm -f -v /etc/ssh/ssh_host_*_key*"
 ExecStart=/usr/bin/ssh-keygen -A -v
 ExecStartPost=/bin/systemctl disable regensshkeys.service
 ExecStartPost=/bin/touch /etc/cs_ssh_regen_done
 ExecStartPost=/usr/local/bin/crankshaft filesystem system lock

[Install]
WantedBy=multi-user.target
