[Unit]
 Description=Crankshaft Wifi Monitor Service
 After=hotspot.service openauto.service dhcpcd.service

[Service]
 Type=simple
 ExecStartPre=/opt/crankshaft/service_wpachange.sh INIT
 ExecStart=/sbin/wpa_cli -a '/opt/crankshaft/service_wpachange.sh' -iwlan0
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=10
 StartLimitBurst=3

[Install]
 WantedBy=multi-user.target
