[Unit]
 Description=Crankshaft alsa state restore
 After=sysinit.target sound.target
 Before=pulseaudio.service

[Service]
 Type=simple
 ExecStart=/usr/local/bin/crankshaft audio alsastate restore

[Install]
 WantedBy=multi-user.target