[Unit]
 Description=Crankshaft Startup Service
 ConditionPathExists=/opt/crankshaft/service_crankshaft.sh
 After=devmode.service
 Before=user_startup.service

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/service_crankshaft.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
