[Unit]
 Description=Crankshaft Custom Brightness Exec Service
 After=usbrestore.service usbdetect.service openauto.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_custombrightness.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target