[Unit]
 Description=Crankshaft Day Mode Timer
 After=usbrestore.service usbdetect.service

[Timer]
 OnCalendar=*-*-* 8..17:*:00
 AccuracySec=1s

[Install]
 WantedBy=timers.target
