[Unit]
 Description=Crankshaft Debug Mode Service
 ConditionPathExists=/opt/crankshaft/service_debugmode.sh
 After=gpio2kbd.service
 Before=devmode.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_debugmode.sh
 StandardInput=tty
 StandardOutput=tty
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
