[Unit]
 Description=Crankshaft GPIO to keyboard mapper
 ConditionPathExists=/opt/crankshaft/gpio2kbd
 After=usbdetect.service
 Before=devmode.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/gpio2kbd /boot/crankshaft/gpio2kbd.cfg
 ExecStop=/usr/bin/killall gpio2kbd
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
