[Unit]
 Description=Crankshaft Wifi Hotspot Service
 ConditionPathExists=/opt/crankshaft/service_hotspot.sh
 After=openauto.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_hotspot.sh start

[Install]
 WantedBy=multi-user.target
