[Unit]
 Description=Crankshaft Wifi Hotspot Service
 ConditionPathExists=/opt/crankshaft/service_hotspot.sh
 Before=hostapd.service dnsmasq.service
 Requires=hostapd.service dnsmasq.service

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/service_hotspot.sh start
 ExecStop=/opt/crankshaft/service_hotspot.sh stop
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
