[Unit]
 Description=Crankshaft Wifi Hotspot Monitor Service
 After=hotspot.service openauto.service

[Service]
 Type=simple
 ExecStart=/usr/sbin/hostapd_cli -a '/opt/crankshaft/service_hostapdchange.sh'
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=10
 StartLimitBurst=3

[Install]
 WantedBy=multi-user.target
