[Unit]
 Description=Crankshaft Sync Hardware Clock to System Clock
 DefaultDependencies=no
 After=sysinit.target usbdetect.service usbrestore.service
 Before=shutdown.target rc.local.service
 Conflicts=shutdown.target

[Service]
 Type=simple
 ExecStart=/sbin/hwclock --hctosys
 StandardOutput=syslog
 Restart=on-failure
 RestartSec=5
 StartLimitBurst=3
 StartLimitInterval=20

[Install]
 WantedBy=sysinit.target
