[Unit]
 Description=Crankshaft Sync Hardware Clock to System Clock
 DefaultDependencies=no
 After=sysinit.target
 Before=shutdown.target
 Conflicts=shutdown.target

[Service]
 Type=oneshot
 ExecStart=/sbin/hwclock --hctosys
 StandardOutput=syslog

[Install]
 WantedBy=sysinit.target
