[Unit]
Description=Cranksahft Sync System Clock to Hardware Clock
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/hwclock --systohc
StandardOutput=syslog

[Install]
WantedBy=shutdown.target
