[Unit]
 Description=Crankshaft I2C Check Service
 ConditionPathExists=/opt/crankshaft/service_i2ccheck.sh
 After=devmode.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_i2ccheck.sh
 StandardInput=tty
 StandardOutput=tty
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
