[Unit]
 Description=Crankshaft Kodi Monitor Service
 ConditionPathExists=/usr/bin/kodi
 After=openauto.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_kodimonitor.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
