[Unit]
 Description=Crankshaft Android Auto Headunit
 After=user_startup.service
 Before=gpiotrigger.service

[Service]
 Type=simple
 User=pi
 WorkingDirectory=/home/pi
 ExecStart=/opt/crankshaft/service_openauto.sh
 Restart=on-failure
 StartLimitIntervalSec=60
 StartLimitBurst=5
 RestartSec=10

[Install]
 WantedBy=multi-user.target
