[Unit]
 Description=Crankshaft Android Auto Headunit
 After=user_startup.service usbdetect.service usbrestore.service dbus.service nightmode.timer daymode.timer
 Before=timerstart.service

[Service]
 Type=simple
 User=pi
 WorkingDirectory=/home/pi
 ExecStart=/opt/crankshaft/service_openauto.sh
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=2
 StartLimitBurst=3

[Install]
 WantedBy=multi-user.target
