[Unit]
 Description=Crankshaft PulseAudio system server
 After=usbdetect.service usbrestore.service sound.target gpio2kbd.service
 Before=openauto.service

[Service]
 Type=simple
 ExecStart=/usr/bin/pulseaudio --daemonize=no --system --disable-shm --disallow-exit --log-target=journal
 ExecStartPost=/opt/crankshaft/service_pacheck.sh
 ExecStop=/usr/bin/killall pulseaudio
 Restart=on-failure

[Install]
 WantedBy=multi-user.target
