[Unit]
 Description=Crankshaft RPiCamServer Service
 ConditionPathExists=/opt/crankshaft/cameraserver.py
 ConditionPathExists=/etc/button_camera_visible
 After=usbdetect.service getty.target

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/cameraserver.py
 Restart=on-failure
 StartLimitInterval=60
 RestartSec=5
 StartLimitBurst=3

[Install]
 WantedBy=multi-user.target
