[Unit]
 Description=Crankshaft RPiCamServer Service
 ConditionPathExists=/opt/crankshaft/cameraserver.py
 ConditionPathExists=/etc/button_camera_visible
 After=devmode.service
 Before=rc.local.service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/cameraserver.py
 Restart=on-failure
 RestartSec=5

[Install]
 WantedBy=multi-user.target
