[Unit]
 Description=Crankshaft Tap2Wake Service
 ConditionPathExists=/opt/crankshaft/service_tap2wake.sh

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/service_tap2wake.sh
 ExecStop=/usr/bin/killall evtest
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
