[Unit]
 Description=Crankshaft Update Service
 ConditionPathExists=/opt/crankshaft/service_update.sh
 After=rc.local.service

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/service_update.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
