[Unit]
 Description=Crankshaft Update Service

[Service]
 Type=simple
 ExecStart=/opt/crankshaft/service_update.sh

[Install]
 WantedBy=multi-user.target
