[Unit]
 Description=USB Backup Restore Service
 ConditionPathExists=/opt/crankshaft/service_usbrestore.sh
 Before=display.service local-fs.service bluetooth.service bthelper.service hciuart.service @hostname.service
 After=basic.target plymouth-start.service local-fs.target

[Service]
 Type=oneshot
 ExecStartPre=/bin/sleep 1
 ExecStart=/opt/crankshaft/service_usbrestore.sh
 StandardInput=tty
 StandardOutput=tty
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
