[Unit]
 Description=USB Backup Restore Service
 ConditionPathExists=/opt/crankshaft/service_usbrestore.sh
 Before=display.service bluetooth.service bthelper.service hciuart.service hostname.service timers.target network.target dhcpcd.service cpufrequtils.service usbdetect.service
 After=sysinit.target systemd-udevd.service

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/service_usbrestore.sh
 StandardInput=tty
 StandardOutput=tty
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
