[Unit]
Description=Crankshaft User startup Service
After=crankshaft.service
Before=rc.local.service

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi
ExecStart=/opt/crankshaft/service_user_startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
