[Unit]
 Description=Crankshaft Bluetooth Auto Connect Service
 After=csng-bluetooth.service btautopair.service

[Service]
 Type=oneshot
 User=pi
 WorkingDirectory=/home/pi
 ExecStart=/opt/crankshaft/service_btautoconnect.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
