[Unit]
 Description=Crankshaft Bluetooth Auto Pairing Service
 After=csng-bluetooth.service

[Service]
 Type=simple
 Restart=on-failure
 RestartSec=60
 ExecStart=/opt/crankshaft/service_btautopair.py
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
