[Unit]
 Description=Crankshaft Bluetooth Device Detect Service
 After=csng-bluetooth.service btautopair.service btautoconnect.service

[Service]
 Type=simple
 User=pi
 WorkingDirectory=/home/pi
 ExecStart=/opt/crankshaft/service_btdevicedetect.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
