[Unit]
 Description=Crankshaft Bluetooth Pairing Restore Service
 Before=bluetooth.target

[Service]
 Type=simple
 Restart=on-failure
 User=pi
 WorkingDirectory=/home/pi
 ExecStart=/opt/crankshaft/service_btrestore.sh
 RemainAfterExit=yes

[Install]
 WantedBy=multi-user.target
