# Sample configuration file for gpio2kbd.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.

# Here's a pin configuration for the PiGRRL 2 project:

# M               16  # 'Voice Command' button
VOLUMEDOWN      12
VOLUMEUP        13
# BRIGHTNESSDOWN  5
# BRIGHTNESSUP    6
