[Unit]
Description=Android Auto Headunit

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/.config
ExecStartPre=/opt/crankshaft/dumb_suid brightness_max.sh
ExecStart=/opt/crankshaft/openauto.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

