[Unit]
Description=Android Auto Headunit
After=crankshaft_startup.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStartPre=/opt/crankshaft/dumb_suid brightness_max.sh
ExecStart=/opt/crankshaft/openauto.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

