[Unit]
 Description=Crankshaft Startup Services
 ConditionPathExists=/opt/crankshaft/startup.sh

[Service]
 Type=oneshot
 ExecStart=/opt/crankshaft/startup.sh

[Install]
 WantedBy=multi-user.target
